<div
  class="modal fade show"
  id="modal"
  style="display: block; padding-right: 16px"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editando animal</h4>
      </div>
      <div class="modal-body">
        <!-- FORMULARIO EDITAR ANIMAL -->
        <app-editar-animal [animalSeleccionado]="animal"></app-editar-animal>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
