<!-- Main content -->
<section class="content">
  <router-outlet>
    <br />
    <div class="card mb-3 container-fluid">
      <div class="text-center">
        <h1 style="color: green">Bienvenidos a la aplicacion FincaTica</h1>
        <br />
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col">
          <app-insumos-por-mes></app-insumos-por-mes>
        </div>
        <!-- <img
            src="https://dvev.fundacionempresaspolar.org/media/venezuelanisms/aljibe/DjlFPnYr6L.png"
            class="img-fluid rounded-start"
            style="max-height: 350px; width: 30%"
            alt="..."
          /> -->
        <div class="col">
          <app-cantidad-por-genero></app-cantidad-por-genero>
        </div>
      </div>
    </div>
  </router-outlet>
</section>
